.contact_details {
    color: red;
    font-size: 1.5em;
}
#center {
    display: block;
    margin-left: 20em;
}
.contact_details span , h2{
    color: black;
    font-size: 120%;
    padding: 0.5em;
    padding-bottom: 1em;
}
.contact_details p {
    text-align: left;
}
.map {
    margin-left: -3em;
}